//Variable Overrides
$body-bg: #eee;

$theme-colors: (
  "primary": #0B0A40,
  "secondary": #ccb697,
  "info": #eee
);

$primary-color: #0B0A40;
$secondary-color: #ccb697;
$tertiary-color: #eee;

//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

// My Imports
@import "functions";

// BASE SETTINGS
body {
  line-height: 1.7;
}

html {
  padding: 2rem;
  background: white;
  font-size: 100%;
}

// Header
.jumbotron{
  position: relative;
  z-index: 0;
  height: 85vh;

  &:after{
    content: "";
    background: {
      image: url("../images/cover.jpg");
      position: center;
      size: cover;
      repeat: no-repeat;
    }
    opacity: 0.4;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    z-index: -1;
  }
}

//SECTIUNI
.bg-primary{
  background-image: linear-gradient(to right, lighten($primary-color, 15%), $primary-color);
  color: $tertiary-color;
}

.bg-secondary{
  background-image: linear-gradient(to right, lighten($secondary-color, 15%), $secondary-color);
}

  //CARDS
.card{
  background-image: linear-gradient(to bottom right, lighten(#ddd, 10%), #ddd);

  .card-title {
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    opacity: 0.7;
  }

  &:hover .card-link .card-img{
    transform: scale(1) rotate(0deg);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  &:hover .card-title{
    transform: scale(1.1) rotate(-2deg);
    opacity: 1;
    font-weight: 800;
  }

  .card-link{
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(black, .3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .card-img{
    	transition: all .3s ease-in-out;
    	-webkit-filter: grayscale(50%);
      transform: scale(1.1) rotate(-2deg);
    	filter: grayscale(50%);
    }
  }
}

 //FOOTER
footer {
  a, a:link, a:visited{
    text-decoration: none;
    color: darken($secondary-color, 15%) !important;
    transition: all .2s;
    &:hover{
      text-decoration: none;
      color: $secondary-color !important;
    }
  }
}


// image gallery
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  transition: all .3s ease-in-out;
}

.gallery-img {
  transition: all .3s ease-in-out;
  border-radius: 2px;
	-webkit-filter: grayscale(50%);
  filter: grayscale(50%);

  //margin
  &:not(:last-child) {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &:hover{
    cursor: pointer;
    transform: translateY(-2%);
	  -webkit-filter: grayscale(0);
    filter: grayscale(0);
    box-shadow: 0 .5rem 1rem rgba(black, .3);
  }

  &--new {
    order: -1;
  }

}

// Lightbox
.light-box {

  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0; left: 0;
  color: #333;
  z-index: 2000;

  &__box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    max-height: 95%;
    max-width: 95%;
    overflow: hidden;

    border-bottom: .5rem solid white; // so the image won't overflow the padding

  }

  &__close {
     position: absolute;
     top: .5rem; right: .5rem;
     width: 1.2rem;
     height: 1.2rem;
     cursor: pointer;
     font-size: 1.4rem;
     line-height: normal;
     color: #999;

     transition: all .2s ease-in-out;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;

    &:hover {
      transform: scale(1);
      color: $primary-color;
    }
  }

  &__heading {
    font-family: 'Hi Melody';
    font-size: 4rem;
    font-style: italic;
    text-align: center;
    margin: 0 0 .5rem 0;
    font-weight: 100;
    background-image: linear-gradient(to right, lighten($primary-color, 50%), $primary-color);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__img-container {
    float: left;
    padding: 0 .5rem;
    width: 70%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

    .full-scrn-btn {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &::before{
        content:"";
        background-color: rgba(0,0,0, .3);
        padding: 1.9rem;
        position: absolute;
        top: 0;
        right: .5rem;
        border-radius: 2px;
        transition: all .15s ease-in-out;
        cursor: pointer;
      }
      &::after{
        content: "\26F6";
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        opacity: .5;
        transition: opacity .15s ease-in-out;
      }
      &:hover::after {
        cursor: pointer;
        opacity: .7;
        animation: pulse 1s infinite;
      }
      &:hover::before {
        background-color: rgba(0,0,0, .5);
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
    max-height: 100%;
  }

  &__paragraph {
    float: left;
    padding: 0 .5rem 0 0;
    width: 30%;
    text-align: left;
  }

}

// Keyframes
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.2);
  }
}


// Media queries galery (min-width)
@media (min-width: 768px) {
  .gallery-img {
    width: 200px;
  }
}

// Lightbox media queries

//Tablet landscape
@media (max-width: 1100px) {
  .light-box {

    &__box {
      width: 90%;
      overflow: auto;
      margin-bottom: 0;
    }

    &__img-container {
      width: 55%;
    }

    &__paragraph {
      width: 45%;
      padding: 0 .5rem 0 0;
    }
  }
}


//Tablet portrait
@media (max-width: 700px) {
  html {
    font-size: 87.5%;
    padding: 0;
  }

  .light-box {

    &__heading {
      font-size: 2.5rem;
    }

    &__box {
      width: 75%;
      overflow: auto;
      margin-bottom: 0;
    }

    &__img-container {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
      padding: .5rem .5rem 0 .5rem;
    }
  }
}

//Phone-big
@media (max-width: 500px){
  html{
    font-size: 90%;
  }

  .light-box {

    &__heading {
      font-size: 2.25rem;
      margin-top: 10px;
    }

    &__close{
      font-size: 1.2rem;
    }
  }
}

//Phone-small
@media (max-width: 400px) {
  html {
    font-size: 75%;
  }

  .gallery-img {
    width: 130px;
    &:not(:last-child) {
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }

  .light-box {

    &__box {
      width: 85%;
      margin-bottom: 0;
    }

    &__heading {
      font-size: 2rem;
      margin-top: 10px;
    }
  }
}
